:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #2A3F67;
    --primary-color: #AC3B61;
    --border-color: #dbdbdb;
    --header-height: 160px;
    --navbar-height: 36px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --star-gold-color: #ffce3d;
    --header-sort-bar-height: 46px;
}
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    /* scroll-behavior: smooth; */
}

body {
    margin: 0;
    padding: 0;
}

i {
    font-style: normal;
}

.app__container {
    margin: 0;
    padding: 0;
    position: relative;
}

.temporary {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;   
    font-size: 200px;
    text-align: center;
}
